{{#if session.isAuthenticated}}
	
	<div class="windows-menu">
		<div class="app-title">Oblat Editor</div>
		<div class="controls">
			<div class="minimize">
				{{fa-icon 'minus'}}
			</div>
			<div class="maximize">
				{{fa-icon 'square-o'}}
			</div>
			<div class="close">
				{{fa-icon 'close'}}
			</div>
		</div>
	</div>

	<div {{bind-attr class=":sidebar isShowMenu:show"}}>


		<div class="user">
			{{#link-to 'index'}}
				<img class="ui tiny image" src="http://oblat.am/assets/images/observatorio-logo.svg">	
			{{/link-to}}
			<h3 class="ui sub header">{{session.user.name}} {{session.user.lastName}}</h3>
			<i>{{session.user.email}}</i>
			{{link-to "Crear informe" "reports.new" classNames="positive ui fluid button"}}
		</div>

		<div class="ui inverted vertical menu">
			
			{{#link-to 'reports.index' class="item"}}
				{{fa-icon 'list' class="icon"}}
				Todos los informes
			{{/link-to}}
			{{#link-to 'unpublish' class="item"}}
				{{fa-icon 'floppy-o' class="icon"}}
				Sin publicar
			{{/link-to}}
			<a {{ action 'invalidateSession' }} class="item">
				{{fa-icon "sign-out" class="icon"}}
				Cerrar sesión
			</a>	
		</div>
		
	</div>

	<div class="main-menu">
		<div class="ui menu" style="margin: 0">
			<div class="item offcanvas">
				{{t-menu a="typo"  action="toggleMenu"}}
			</div>
		</div>
	</div>


	<div class="main-container">

		{{outlet}}

	</div>

{{else}}

	<div class="login">

		{{outlet}}

	</div>

{{/if}}

