<div {{bind-attr class=":sidebar isShowMenu:show"}}>
	<div class="user">
		<img class="ui tiny circular image" src="http://semantic-ui.com/images/wireframe/square-image.png">	
		<h2 class="ui sub header">Juan Pepe</h2>
		<i>editor</i>
		<button class="positive ui fluid button">Redactar informe</button>
	</div>

	<div class="ui inverted vertical menu">
		<a class="active item">
		{{fa-icon 'list' class="icon"}}
		Todos los informes
		</a>
		<a class="item">
		{{fa-icon 'send' class="icon"}}
		Últimos subidos
		</a>
		<a href="" class="item">
		{{fa-icon 'floppy-o' class="icon"}}
		No publicados
		</a>
		<a href="" class="item">
		{{fa-icon 'cog' class="icon"}}
		Ajustes
		</a>
	</div>





</div>

<div class="main-menu">
	<div class="ui menu" style="margin: 0">
		<div class="item offcanvas">
			{{t-menu a="typo"  action="toggleMenu"}}
		</div>
		<div class="item publish">
			<div class="inline field">
				<div class="ui toggle checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
					<label>Publicar</label>
				</div>
			</div>
		</div>
		<div class="right item">
			<div class="ui button" {{action 'openModal'}}>Guardar</div>
		</div>
	</div>
	
</div>


<div class="main-container">

	{{outlet}}

	<h3 class="ui dividing header">
	  Redactar informe
	  <div class="sub header">
		Manage your account settings and set e-mail preferences. <i class="ar flag"></i>
		</div>
	</h3>

	<form class="ui form">
	  <div class="field">
	    <label>Titulo</label>
	    <input type="text" name="first-name" placeholder="First Name">
	  </div>
	   <div class="field">
	    <label>Resumen</label>
	    <textarea rows="2"></textarea>
	  </div>

	  <div class="field">
	  	<label for="">Informe</label>
	  	{{froala-editor}}
	  </div>
	</form>
	<div class="ui bottom attached warning message">
	  <i class="icon help"></i>
	  Already signed up? <a href="#">Login here</a> instead.
	</div>


  <div class="ui horizontal divider" style="margin: 60px 0;">
    Lista
  </div>

	<div class="ui very relaxed divided list">
	  <div class="item">
	    <i class="large file text outline aligned icon"></i>
	    <div class="content">
	      <a class="header">Semantic-Org/Semantic-UI</a>
	      <div class="description">Updated 10 mins ago</div>
	    </div>
	  </div>
	  <div class="item">
	     <i class="large file text outline aligned icon"></i>
	    <div class="content">
	      <a class="header">Semantic-Org/Semantic-UI-Docs</a>
	      <div class="description">Updated 22 mins ago</div>
	    </div>
	  </div>
	  <div class="item">
	     <i class="large file text outline aligned icon"></i>
	    <div class="content">
	      <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
	      <div class="description">Updated 34 mins ago</div>
	    </div>
	  </div>
	</div>

	<div class="ui icon message">
	  <i class="notched circle loading icon"></i>
	  <div class="content">
	    <div class="header">
	      Just one second
	    </div>
	    <p>We're fetching that content for you.</p>
	  </div>
	</div>

	<div class="ui cards">
		<div class="ui card">
		  <div class="content">
		    <div class="header">Cute Dog</div>
		    <div class="meta">2 days ago</div>
		    <div class="description">
		      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
		      <p>Many people also have their own barometers for what makes a cute dog.</p>
		    </div>
		  </div>
		  <div class="extra content">
		    <i class="check icon"></i>
		    121 Votes
		  </div>
		</div>
		 <div class="card">
		    <div class="content">
		      <div class="header">Elliot Fu</div>
		      <div class="description">
		        Elliot Fu is a film-maker from New York.
		      </div>
		    </div>
		    <div class="ui bottom attached button">
		      <i class="add icon"></i>
		      Add Friend
		    </div>
		  </div>
		<div class="ui card">
		  <div class="content">
		    <i class="right floated like icon"></i>
		    <i class="right floated star icon"></i>
		    <div class="header">Cards</div>
		    <div class="description">
		      <p>Cards are designed to be flexible to your content. content blocks can include any custom elements related to your content.</p>
		    </div>
		  </div>
		  <div class="extra content">
		    <span class="left floated like">
		      <i class="like icon"></i>
		      Like
		    </span>
		    <span class="right floated star">
		      <i class="star icon"></i>
		      Favorite
		    </span>
		  </div>
		</div>
	</div>
</div>

{{#ui-modal name="profile" class="small"}}
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
   <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}