
<section>
  <h2 class="ui dividing header">
    Últimos informes
  </h2>

  <div class="section-content home">
      <div class="ui divided items">
       {{#each report in model}}
      <div class="item">
        <div class="image">
          <img src="{{report.picture.url}}">
        </div>
        <div class="content">
          <div class="header">{{report.title}}</div>
          <div class="meta">
            {{#if report.published}}
              <div class="ui blue label tiny ">Publicado</div>
            {{else}}
              <div class="ui grey label tiny ">Sin publicar</div>
            {{/if}}
            <span>{{time-ago-in-words report.createdAt}}</span>
          </div>
          <div class="description">
            <p>{{report.excerpt}}</p>
          </div>
          <div class="extra">
            {{#link-to "reports.edit" report classNames="tiny ui green inverted button"}}
               <i class="write icon"></i>
               Editar
            {{/link-to}}

            <div class="tiny ui red inverted button" {{action "remove" report}}>
              <i class="trash icon"></i>
              Eliminar
            </div>
          </div>
        </div>
      </div>
       {{/each}}
    </div>
  </div>
</section>

